<div class="col-sm-12"%>
  <div class="col-sm-2"%>
    <%= link_to "My Friends",user_path(id: current_user.id,  flag: 1), class: "btn btn-success" %>
  </div>
  <div class="col-sm-9">
    <h3 style="text-align: center; color: blue;">Suggested Users</h3>
  </div>
</div>
  <br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Website Title</th>
        <th>Website Address</th>
        <th>Website Description</th>
        <th>Friends</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.name %></td>
          <td><%= u.email %></td>
          <td><%= u.website_title %></td>
          <td><%= link_to u.website_address, "" %></td>
          <td><%= u.web_description %></td>
          <td><%= get_my_friends(u) %></td>
          <td><%= link_to "Add Friend", user_relationships_path(u), method: :post %></td>
          <td><%= link_to "Show Friends", user_path(u) %></td>
        </tr>
        <br>
    <% end %>
    </tbody>
  </table>